a{
    text-decoration: none;
    color: wheat;
}
.app__navbar
{
    background-color: black;
    padding: 2rem 0;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.app__navbar-links
{
    display: flex;
    margin-left: 20px;
    list-style: none;
}

.app__navbar-links li
{
    margin-left: 7rem;
    font-weight: 700;
}

.app__navbar-logo
{
    margin-left: 5%;
}

.app__navbar-links a:hover
{
    color: white;
}

.flexcenter
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.app__navbar-small
{
    display: none;

}

.app__navbar-small_screen
{
    position: fixed;
    background-color: black;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 5;
    /* flex-direction: column; */
}

.app__navber-login
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 7rem;
}

.app__navber-login div
{
    width: 3px;
    height: 20px;
    background-color: gray;
    margin: 10px;
}

.overlay__close
{
    margin-right: 2rem;
    cursor: pointer;
}

.app__navbar-links-small
{
    position: relative;
    top: 20%;
}

.app__navbar-links-small li
{
    margin: 4rem;
    cursor: pointer;
    font-size: 1.3rem;
    text-align: center;
}

.close
{
    position: absolute;
    margin: 2rem;
    right: 20px;
    cursor: pointer;
}

@media screen and (max-width:1500px) {
    .app__navbar-links{
        display: none;
    }
    .app__navbar-small
    {
        display: flex;
    }
}

@media screen and (max-width:500px) {
    .app__navber-login
    {
        display: none;
    }
}